<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="snaptechue_practice" frontName="snaptechue_practice">
            <module name="SnaptecHue_Practice"/>
        </route>
    </router>
</config>