<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="snaptechue_snaptec_brand_listing_data_source" xsi:type="string">SnaptecHue\Snaptec\Model\ResourceModel\Brand\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="SnaptecHue\Snaptec\Model\ResourceModel\Brand\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">snaptechue_snaptec_brand</argument>
            <!-- <argument name="eventPrefix" xsi:type="string">snaptechue_snaptec_brand_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">page_grid_collection</argument> -->
            <argument name="resourceModel" xsi:type="string">SnaptecHue\Snaptec\Model\ResourceModel\Brand</argument>
        </arguments>
    </virtualType>
    <virtualType name="SnaptecHue\Snaptec\BrandImageUpload" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">brand/tmp/images</argument>
            <argument name="basePath" xsi:type="string">brand/images</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="SnaptecHue\Snaptec\Controller\Adminhtml\Brand\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">SnaptecHue\Snaptec\BrandImageUpload</argument>
        </arguments>
    </type>
    <preference for="SnaptecHue\Snaptec\Api\BrandRepositoryInterface" type="SnaptecHue\Snaptec\Model\BrandRepository" />
    <preference for="SnaptecHue\Snaptec\Api\Data\BrandInterface" type="SnaptecHue\Snaptec\Model\Brand" />
    <preference for="SnaptecHue\Snaptec\Api\BrandSearchResultsInterface" type="SnaptecHue\Snaptec\Model\BrandSearchResults" />
    <!-- <virtualType name="BrandFactory" type="\Magento\Framework\Model\Factory">
        <arguments>
            <argument name="instanceName" xsi:type="string">\SnaptecHue\Snaptec\Model\Brand</argument>
        </arguments>
    </virtualType> -->
</config>
